@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }

html {
  font-size: 18px; }
  @media (max-width: 767px) {
    html {
      font-size: 14px; } }

body {
  padding-top: 62px; }

.index {
  font-family: Microsoft JhengHei; }
  .index .container {
    max-width: 940px;
    margin: 0 auto; }
    @media (max-width: 767px) {
      .index .container {
        padding: 0 5%; } }
  .index header {
    position: -webkit-sticky;
    position: sticky;
    background: white;
    top: -1px;
    z-index: 9999;
    -webkit-transition: .3s all linear;
    -o-transition: .3s all linear;
    transition: .3s all linear;
    padding: 30px 0; }
    @media (max-width: 767px) {
      .index header {
        position: absolute;
        width: 100%;
        padding: 10px 0; } }
    .index header .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      @media (max-width: 767px) {
        .index header .container {
          width: 90%;
          position: relative;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          justify-items: center; } }
      .index header .container .brand-logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 42px;
        /*how to make it auto adjust to content height*/ }
        @media (max-width: 767px) {
          .index header .container .brand-logo {
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center; } }
        .index header .container .brand-logo .hamberger, .index header .container .brand-logo .mobile-cart {
          display: none; }
          @media (max-width: 767px) {
            .index header .container .brand-logo .hamberger, .index header .container .brand-logo .mobile-cart {
              display: inline-block; } }
        .index header .container .brand-logo img:nth-of-type(1) {
          width: 40px;
          margin-right: 8.27px; }
          @media (max-width: 767px) {
            .index header .container .brand-logo img:nth-of-type(1) {
              display: none; } }
        .index header .container .brand-logo img:nth-of-type(2) {
          width: 171.22px; }
          @media (max-width: 767px) {
            .index header .container .brand-logo img:nth-of-type(2) {
              margin: 0 auto; } }
        .index header .container .brand-logo:hover {
          cursor: pointer; }
      .index header .container .nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-transition: .3s all linear;
        -o-transition: .3s all linear;
        transition: .3s all linear;
        overflow: hidden; }
        @media (max-width: 767px) {
          .index header .container .nav {
            display: block;
            text-align: center;
            height: 0; }
            .index header .container .nav.show-nav {
              height: 126px; } }
        .index header .container .nav li {
          margin-right: 60px; }
          @media (max-width: 767px) {
            .index header .container .nav li {
              padding: 12px 0;
              margin: 0 auto; } }
        @media (max-width: 767px) {
          .index header .container .nav li:nth-of-type(2) {
            border-bottom: 1px solid #ddd;
            border-top: 1px solid #ddd; } }
        .index header .container .nav li:nth-of-type(4) {
          margin-left: 20px; }
          @media (max-width: 767px) {
            .index header .container .nav li:nth-of-type(4) {
              display: none; } }
        .index header .container .nav a {
          color: #3F5D45;
          font-weight: 700; }
    .index header.show-nav {
      height: 168px;
      overflow: auto; }
  .index .content .product-section {
    /**** use i ****/
    /**** use i ****/
    /**** use i ****/ }
    .index .content .product-section .products {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-weight: bold;
      color: white;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
      @media (max-width: 767px) {
        .index .content .product-section .products {
          margin-bottom: 60px; } }
      @media (max-width: 568px) {
        .index .content .product-section .products {
          margin-bottom: 125px;
          -webkit-transform: translateY(0%);
          -ms-transform: translateY(0%);
          transform: translateY(0%); } }
    .index .content .product-section li {
      overflow: hidden;
      -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
      box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
      border: 3px solid white;
      position: relative; }
      .index .content .product-section li .bg-img {
        width: 259px;
        height: 256px;
        -webkit-transition: .3s linear;
        -o-transition: .3s linear;
        transition: .3s linear; }
        @media (max-width: 767px) {
          .index .content .product-section li .bg-img {
            width: 124px;
            height: 124px; } }
      .index .content .product-section li span {
        position: absolute;
        font-size: 24px;
        -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        /*cover*/
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0.8;
        background: #3F5D45; }
        @media (max-width: 767px) {
          .index .content .product-section li span {
            font-size: 18px; } }
        @media (max-width: 568px) {
          .index .content .product-section li span {
            font-size: 12px; } }
      .index .content .product-section li:hover .bg-img {
        -webkit-transform: rotate(20deg) scale(1.5);
        -ms-transform: rotate(20deg) scale(1.5);
        transform: rotate(20deg) scale(1.5); }
    .index .content .product-section li:nth-of-type(1) {
      color: #3F5D45; }
      .index .content .product-section li:nth-of-type(1) .bg-img:after {
        background: url("https://bit.ly/2Dwoxd7");
        content: '';
        background-position: center center;
        background-size: cover;
        display: block;
        height: 100%;
        -webkit-filter: blur(5px);
        filter: blur(5px); }
      .index .content .product-section li:nth-of-type(1) span {
        background: #FFE180; }
    .index .content .product-section li:nth-of-type(2) {
      color: white; }
      .index .content .product-section li:nth-of-type(2) .bg-img:after {
        background: url("https://bit.ly/2Qodh3Z");
        content: '';
        background-position: center center;
        background-size: cover;
        display: block;
        height: 100%;
        -webkit-filter: blur(5px);
        filter: blur(5px); }
      .index .content .product-section li:nth-of-type(2) span {
        background: #3F5D45; }
    .index .content .product-section li:nth-of-type(3) {
      color: white; }
      .index .content .product-section li:nth-of-type(3) .bg-img:after {
        background: url("https://bit.ly/2zL5jN7");
        content: '';
        background-position: center center;
        background-size: cover;
        display: block;
        height: 100%;
        -webkit-filter: blur(5px);
        filter: blur(5px); }
      .index .content .product-section li:nth-of-type(3) span {
        background: #3F5D45; }
    .index .content .product-section .header-photo {
      width: 100%;
      height: 496px;
      margin: 0 auto;
      background: url(https://bit.ly/2OhbMHr) center center;
      background-size: cover; }
      @media (max-width: 568px) {
        .index .content .product-section .header-photo {
          height: 177px; } }
  .index .content .why-choice, .index .content .why-eat {
    background: #EAF0ED;
    height: 420px;
    margin-bottom: 105px;
    position: relative; }
    @media (max-width: 767px) {
      .index .content .why-choice, .index .content .why-eat {
        height: auto;
        margin: 0 0 135px 0;
        background: none; } }
    .index .content .why-choice .container, .index .content .why-eat .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      @media (max-width: 767px) {
        .index .content .why-choice .container, .index .content .why-eat .container {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          width: auto;
          background: #EAF0ED;
          padding: 0;
          margin: 0 5%;
          background: #EAF0ED; } }
      .index .content .why-choice .container .img, .index .content .why-eat .container .img {
        background: url(https://bit.ly/2R5tqwD) center;
        background-size: cover;
        height: 460px;
        width: 460px;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px); }
        @media (max-width: 767px) {
          .index .content .why-choice .container .img, .index .content .why-eat .container .img {
            width: 540px;
            height: 344px;
            -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
            order: 2;
            -webkit-transform: translateY(0px);
            -ms-transform: translateY(0px);
            transform: translateY(0px);
            width: 100%; } }
        @media (max-width: 568px) {
          .index .content .why-choice .container .img, .index .content .why-eat .container .img {
            height: 114px; } }
      .index .content .why-choice .container .reason, .index .content .why-eat .container .reason {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl; }
        @media (max-width: 767px) {
          .index .content .why-choice .container .reason, .index .content .why-eat .container .reason {
            -webkit-writing-mode: horizontal-tb;
            -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
            -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
            order: 3; } }
        .index .content .why-choice .container .reason .title, .index .content .why-eat .container .reason .title {
          -webkit-transform: translateY(-38%);
          -ms-transform: translateY(-38%);
          transform: translateY(-38%);
          margin-left: 30px;
          font-size: 28px;
          color: #3F5D45;
          -webkit-writing-mode: vertical-rl;
          -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
          word-break: keep-all; }
          @media (max-width: 767px) {
            .index .content .why-choice .container .reason .title, .index .content .why-eat .container .reason .title {
              -webkit-box-ordinal-group: 2;
              -ms-flex-order: 1;
              order: 1;
              -webkit-writing-mode: horizontal-tb;
              -ms-writing-mode: lr-tb;
              writing-mode: horizontal-tb;
              position: absolute;
              top: -95px;
              left: 50%;
              -webkit-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
              transform: translateX(-50%); } }
          @media (max-width: 568px) {
            .index .content .why-choice .container .reason .title, .index .content .why-eat .container .reason .title {
              margin: 0; } }
          @media (max-width: 767px) {
            .index .content .why-choice .container .reason .title, .index .content .why-eat .container .reason .title {
              font-size: 28px; } }
          @media (max-width: 568px) {
            .index .content .why-choice .container .reason .title, .index .content .why-eat .container .reason .title {
              font-size: 28px; } }
          .index .content .why-choice .container .reason .title p, .index .content .why-eat .container .reason .title p {
            height: 36px;
            background: black;
            width: 1px;
            display: inline-block; }
            @media (max-width: 767px) {
              .index .content .why-choice .container .reason .title p, .index .content .why-eat .container .reason .title p {
                width: 36px;
                height: 1px;
                vertical-align: middle; } }
        .index .content .why-choice .container .reason > p, .index .content .why-eat .container .reason > p {
          height: 280px;
          line-height: 2;
          letter-spacing: 1px;
          color: #8DA291;
          font-size: 18px; }
          @media (max-width: 767px) {
            .index .content .why-choice .container .reason > p, .index .content .why-eat .container .reason > p {
              font-size: 16px; } }
          @media (max-width: 568px) {
            .index .content .why-choice .container .reason > p, .index .content .why-eat .container .reason > p {
              font-size: 14px; } }
          @media (max-width: 767px) {
            .index .content .why-choice .container .reason > p, .index .content .why-eat .container .reason > p {
              height: auto;
              padding: 20px; } }
  .index .content .why-eat .title {
    margin-left: 0;
    margin-right: 30px; }
    @media (max-width: 568px) {
      .index .content .why-eat .title {
        margin: 0; } }
  .index .content .why-eat .container .img {
    background: url(https://bit.ly/2zzAQS4) center center; }
  @media (max-width: 767px) {
    .index .content .why-eat {
      margin-bottom: 50px; } }
  .index .content .no-reason {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .index .content .no-reason div {
      height: 327px;
      font-size: 28px;
      color: #3F5D45;
      -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
      word-break: keep-all; }
      @media (max-width: 767px) {
        .index .content .no-reason div {
          font-size: 28px; } }
      @media (max-width: 568px) {
        .index .content .no-reason div {
          font-size: 28px; } }
      .index .content .no-reason div p {
        height: 36px;
        background: black;
        width: 1px;
        display: inline-block; }
        @media (max-width: 767px) {
          .index .content .no-reason div p {
            width: 36px;
            height: 1px;
            vertical-align: middle; } }
      @media (max-width: 767px) {
        .index .content .no-reason div {
          -webkit-writing-mode: horizontal-tb;
          -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
          height: auto;
          margin-bottom: 50px; } }
  .index .content .products-caresoul {
    text-align: center;
    color: #3F5D45; }
    @media (max-width: 767px) {
      .index .content .products-caresoul .container {
        overflow: hidden;
        height: 460px; } }
    @media (max-width: 568px) {
      .index .content .products-caresoul .container {
        height: 413px; } }
    .index .content .products-caresoul ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      @media (max-width: 767px) {
        .index .content .products-caresoul ul {
          overflow: auto;
          padding: 25px; } }
      @media (max-width: 568px) {
        .index .content .products-caresoul ul {
          padding: 0 0 15px 0; } }
      .index .content .products-caresoul ul li {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%; }
        @media (max-width: 767px) {
          .index .content .products-caresoul ul li {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            border-radius: 10px;
            -webkit-box-shadow: 0px 1px 42px #ddd;
            box-shadow: 0px 1px 42px #ddd;
            margin: 5px 6px; } }
        @media (max-width: 568px) {
          .index .content .products-caresoul ul li {
            margin: 0; } }
        .index .content .products-caresoul ul li .box {
          padding: 0 10px; }
      .index .content .products-caresoul ul li:nth-of-type(1):hover .product-img {
        -webkit-filter: brightness(1.07);
        filter: brightness(1.07); }
      .index .content .products-caresoul ul li:nth-of-type(1) .product-img {
        background: url("https://bit.ly/2zKOP7w");
        content: '';
        background-position: center center;
        background-size: cover;
        display: block;
        height: 100%;
        height: 315px;
        position: relative; }
        .index .content .products-caresoul ul li:nth-of-type(1) .product-img:after {
          content: '本日精選';
          height: 106px;
          width: 36px;
          position: absolute;
          top: 0;
          left: 20px;
          -webkit-writing-mode: vertical-rl;
          -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
          color: white;
          background: #3F5D45;
          line-height: 36px; }
        .index .content .products-caresoul ul li:nth-of-type(1) .product-img:before {
          content: '\f004';
          height: 18px;
          width: 20px;
          position: absolute;
          right: 22px;
          top: 19px; }
      .index .content .products-caresoul ul li:nth-of-type(2):hover .product-img {
        -webkit-filter: brightness(1.07);
        filter: brightness(1.07); }
      .index .content .products-caresoul ul li:nth-of-type(2) .product-img {
        background: url("https://bit.ly/2zBjQuq");
        content: '';
        background-position: center center;
        background-size: cover;
        display: block;
        height: 100%;
        height: 315px;
        position: relative; }
        .index .content .products-caresoul ul li:nth-of-type(2) .product-img:after {
          content: '本日精選';
          height: 106px;
          width: 36px;
          position: absolute;
          top: 0;
          left: 20px;
          -webkit-writing-mode: vertical-rl;
          -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
          color: white;
          background: #3F5D45;
          line-height: 36px; }
        .index .content .products-caresoul ul li:nth-of-type(2) .product-img:before {
          content: '\f004';
          height: 18px;
          width: 20px;
          position: absolute;
          right: 22px;
          top: 19px; }
      .index .content .products-caresoul ul li:nth-of-type(3):hover .product-img {
        -webkit-filter: brightness(1.07);
        filter: brightness(1.07); }
      .index .content .products-caresoul ul li:nth-of-type(3) .product-img {
        background: url("https://bit.ly/2zL5jN7");
        content: '';
        background-position: center center;
        background-size: cover;
        display: block;
        height: 100%;
        height: 315px;
        position: relative; }
        .index .content .products-caresoul ul li:nth-of-type(3) .product-img:after {
          content: '本日精選';
          height: 106px;
          width: 36px;
          position: absolute;
          top: 0;
          left: 20px;
          -webkit-writing-mode: vertical-rl;
          -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
          color: white;
          background: #3F5D45;
          line-height: 36px; }
        .index .content .products-caresoul ul li:nth-of-type(3) .product-img:before {
          content: '\f004';
          height: 18px;
          width: 20px;
          position: absolute;
          right: 22px;
          top: 19px; }
      .index .content .products-caresoul ul .product-intro {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 14px 0; }
        .index .content .products-caresoul ul .product-intro .name {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 60%;
          flex: 0 0 60%; }
        .index .content .products-caresoul ul .product-intro .price {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 40%;
          flex: 0 0 40%; }
      .index .content .products-caresoul ul .add-cart {
        background-color: #EAF0ED;
        padding: 16px 0; }
        .index .content .products-caresoul ul .add-cart:hover {
          cursor: pointer;
          background-color: #3F5D45;
          color: white; }
  .index .mail-us {
    margin-top: 60px;
    background: #3F5D45; }
    .index .mail-us .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      padding: 30px 0; }
      @media (max-width: 767px) {
        .index .mail-us .container {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; } }
      .index .mail-us .container .caption {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: white; }
        @media (max-width: 767px) {
          .index .mail-us .container .caption {
            margin-bottom: 20px; } }
        .index .mail-us .container .caption img {
          margin-right: 20px; }
      .index .mail-us .container .input {
        background-color: #EAF0ED;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .index .mail-us .container .input input {
          border: 0;
          outline: none;
          background: #EAF0ED;
          width: 260px; }
          @media (max-width: 568px) {
            .index .mail-us .container .input input {
              width: unset; } }
        .index .mail-us .container .input i {
          padding: 16px 20px;
          color: #3F5D45; }
        .index .mail-us .container .input i:nth-of-type(2) {
          background: #FFE180; }
  .index footer {
    padding: 30px 0;
    background: #EAF0ED;
    color: #3F5D45; }
    .index footer .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      @media (max-width: 767px) {
        .index footer .container {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; } }
      @media (max-width: 767px) {
        .index footer .container .info {
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; } }
      .index footer .container img {
        margin-bottom: 115px; }
        @media (max-width: 767px) {
          .index footer .container img {
            margin-bottom: 0; } }
      .index footer .container p {
        margin-bottom: 30px;
        line-height: 1.5; }
        @media (max-width: 767px) {
          .index footer .container p {
            margin: 10px 0;
            line-height: 2; } }
      .index footer .container .other-info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        @media (max-width: 767px) {
          .index footer .container .other-info {
            margin-top: 15px; } }
        .index footer .container .other-info .caption {
          -webkit-writing-mode: vertical-rl;
          -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
          font-size: 28px; }
          @media (max-width: 767px) {
            .index footer .container .other-info .caption {
              font-size: 28px; } }
          @media (max-width: 568px) {
            .index footer .container .other-info .caption {
              font-size: 28px; } }
          .index footer .container .other-info .caption p {
            height: 36px;
            background: black;
            width: 1px;
            display: inline-block; }
            @media (max-width: 767px) {
              .index footer .container .other-info .caption p {
                width: 36px;
                height: 1px;
                vertical-align: middle; } }
          @media (max-width: 767px) {
            .index footer .container .other-info .caption {
              display: none; } }
