/*Index content*/
.index .content .banner{
	background: url(../images/index/banner-photo.jpg);
	background-size: cover;
	background-position: 0% 100%;
	height: 560px;
	padding-top: 207px;
	color:#00cc99;
}
.index .content .banner span, .content .banner .sing-up-button{
	color:white;
}

.index .content .selected-courses li{
	float: left;
	text-align: center;
	width: 33%;
	padding:10px;
}
.content .selected-courses h2{
	position:relative;
}
.index .content .selected-courses .more-class-button{
	position: absolute;
    bottom: 0;
    right: 0;
	margin-right: 20px;
	padding:8px;
	border: 2px solid #00cc99;
	border-radius: 4px;
	font-size: 1rem;
}
.index .content .selected-courses .more-class-button:hover{
	cursor:pointer;
}
.index .content .selected-courses .box{
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
	padding:30px 20px;
	transition: all linear .3s;
}
.index .content .selected-courses .box:hover{
	box-shadow: 3px 3px 15px rgba(0,0,0,0.3);
	cursor:pointer;
}
.index .content .selected-courses .box h4{
	margin: 14px 0;
}
.index .content .message-us{
	padding-top:135px;
	padding-bottom: 60px;
	background: #ebebeb;
}
.index .content .message-us h3, .message-us .input-section{
	width: 50%;
}
.index .content .message-us .input-section input{
	width: 89.89%;
	height: 52px;
	margin-bottom: 20px;
	float: right;
	padding-left: 10px
}

.index .content .message-us h3{
	line-height: 60px;
	margin-top: -17px;
}
.index .content .message-us .submit-button{
	width: 13.6%;
	float: right;
	text-align: center;
	background: #00cc99;
	height: 48px;
	line-height: 48px;
}
.index .content .comparison table{
	margin: 0 auto;
}

.index .content .comparison td,th{
	width: 235px;
	height: 50px;
	border-top:1px solid  lightgray;
	border-bottom: 1px solid lightgray;
	border-collapse: collapse;
	line-height: 50px;
	text-align: center;
	letter-spacing: 0;
}
.index .content .comparison tr:first-child{
	background: #ebebeb;
}
.index .content .comparison tr:hover{
	background: #ebebeb;
}
.index .content .comparison .colored{
	color:#6bdab8;
}
@media only screen and (max-width: 1200px){
.index .container{
	width: 90%;
}
}
@media only screen and (max-width: 480px){
.index h1{
	font-size: 2.2rem; /*額外設定*/
}
.index .container{
	width: 95%;
}
.index .content .banner{
	height: unset;
	padding: 120px 0 30px 0 ;
}
.index .content .banner .sing-up-button{
	margin-top: 30px;
}
.index .content .message-us{
	padding-top: 50px;
	padding-bottom: 50px;
}
.index .content .message-us h3{
	margin-bottom: 30px;
	width: unset;
	line-height: 40px;
	font-size: 1.57em;
	letter-spacing: -1px;
}

.index .container,.selected-courses, .comparison{
	width: 90%;
	margin-left:auto;
	margin-right: auto;
}

.index .content .selected-courses li{
	float: unset;
	width: unset;
}
.index .content .selected-courses .more-class-button{
	bottom: unset;
	top:0;
	padding:6px;
}
.index .index .subtitle{
	display: block;
	padding:unset;
	margin-top: 10px;
}
.index .content .comparison td, th{
	width: unset;
	height: unset;
	line-height: 38px;
	letter-spacing: -1px;
}
.index .content .message-us .submit-button{
	float: unset;
	display: inline-block;
	width: 89.89%;
}
.index .content .message-us  .container{
	text-align: center;
}
.index .content .message-us .flex-center{
	display: unset;
	align-items: unset;
}
.index .content .message-us .input-section {
	width: unset;
}
.index .content .message-us .input-section input{
	float: unset;
}

}



