/*commom-setting : reset, header, footer*/
@import "common-setting.css";

/*Index content*/
.content .banner{
	background: url(../images/index/banner-photo.jpg);
	background-size: cover;
	height: 560px;
	padding-top: 207px;
	color:#00cc99;
}
.content .banner span, .content .banner .sing-up-button{
	color:white;
}
.content .banner .sing-up-button{
	display: inline-block;
	padding:13px 37px;
	margin-top: 60px;
	background: #00cc99;
	border-radius: 5px;
}
.content .selected-courses li{
	float: left;
	text-align: center;
	width: 33%;
	padding:10px;
}
.content .selected-courses h2{
	position:relative;
}
.content .selected-courses .more-class-button{
	position: absolute;
    bottom: 0;
    right: 0;
	margin-right: 20px;
	padding:8px;
	border: 2px solid #00cc99;
	border-radius: 4px;
	font-size: 0.4em;
}
.content .selected-courses .box{
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
	padding:30px 20px;
	transition: all linear .3s;
}
.content .selected-courses .box:hover{
	box-shadow: 3px 3px 15px rgba(0,0,0,0.3);
	cursor:pointer;
}
.content .selected-courses .box h4{
	margin: 14px 0;
}
.content .message-us{
	padding-top:135px;
	padding-bottom: 60px;
	background: #ebebeb;
}
.content .message-us h3, .message-us .input-section{
	width: 50%;
}
.content .message-us .input-section input{
	width: 89.89%;
	height: 52px;
	margin-bottom: 20px;
	float: right;
	padding-left: 10px
}
.content .message-us .flex-center{
	display: flex;
	align-items: center;
}
.content .message-us h3{
	line-height: 60px;
	margin-top: -17px;
}
.content .message-us .submit-button{
	width: 13.6%;
	float: right;
	text-align: center;
	background: #00cc99;
	height: 48px;
	line-height: 48px;
}
.content .comparison table{
	margin: 0 auto;
}

.content .comparison td,th{
	width: 235px;
	height: 50px;
	border-top:1px solid  lightgray;
	border-bottom: 1px solid lightgray;
	border-collapse: collapse;
	line-height: 50px;
	text-align: center;
	letter-spacing: 0;
}
.content .comparison tr:first-child{
	background: #ebebeb;
}
.content .comparison tr:hover{
	background: #ebebeb;
}
.content .comparison .colored{
	color:#6bdab8;
}
@media only screen and (max-width: 1200px){

}
@media only screen and (max-width: 480px){

.container,.selected-courses, .comparison{
	width: 100%;
	margin-left:auto;
	margin-right: auto;
}

.header{
	text-align: center;
}
.header .nav{
	display: inline-block;
}
.header h2, .header .nav{
	float: unset;
}
.header ul{
	width: 100%;
}
.header .nav li{
	width: 33%;
}
.selected-courses img{

}
.content .selected-courses li{
	float: unset;
	width: unset;
}
.index .subtitle{
	display: block;
	padding:unset;
	margin-top: 10px;
}
.content .selected-courses .more-class-button{
	bottom: unset;
	top:0;
	padding:6px;
}
.content .message-us .flex-center{
	display: unset;
	align-items: unset;
}
.footer .container{
	text-align: center;
}
.footer ul{
	margin: 0 10px;
}
.footer img{
	padding-bottom: 10px;
}
.footer .footer-logo, .footer ul.social-media{
	float: unset;
	display: inline-block;
}
.footer li{
	margin:0 10px;
}
}



