/*Index content*/
.content .banner{
	background: url(../images/qna/banner_01.jpg);
	background-size: cover;
	background-position: 0% 100%;
	height: 560px;
	padding-top: 207px;
	text-align: center; /**/
	color:white;
}
.content .banner span{ /**/
	color:#00cc99;
	font-size: 0.6em;
}
.content .banner span{ /**/
	color:#00cc99;
	font-size: 0.6em;
}
.content .search-bar{ /**/
	height: 50px;
	width: 60.6%;
	display: inline-block;
	background: white;
	border-radius: 6px;
	margin-top: 52px;
	text-align: right;
}
.content .search-bar i{ /**/
	line-height: 50px;
	font-size: 20px;
	color:black;
}
.content > .container{ /**/
	max-width: 770px;
}
.content > .container a[href^=mailto]{ /**/
	color:#00cc99;
}
.content > .container p ~*{ /**/
	font-weight: lighter;
}
.content > .container article{ /**/
	color:#9b9b9b;
}
.content > .container article:first-line{ /**/
	text-indent: -5px;
}
.content > .container h4{ /**/
	margin-top: 35px;
}
.content > .container h4, .content > .container article{ /**/
	line-height: 1.3;
	text-indent: -30px;
	padding-left: 36px;
}
.content .howto-pay ol{ /**/
	text-indent: initial;
	margin-left: 19px;
	list-style-type: decimal;
}
.content .ask-refund ul{  /**/
	margin-left: 33px;
}
.content .ask-refund .black-text{ /**/
	color:black;
}
.content .ask-refund ul:nth-of-type(1){ /**/
	margin-bottom:30px;
}

/*.content .ask-refund ul li{ 
	padding-left: 20px;
}*/
.content .ask-refund ul:nth-of-type(1) li,.content .ask-refund ul li{ /*調整整段li為至*/
	margin-left: -18px;
}
/*.content .ask-refund ul li{ 調整整段li為至
	margin-left: -46px;
}*/
.content .ask-refund ul li:before{ /*調整list icon跟文字距離*/
	content: '';
	margin-left: 14px;
	padding-left: 18px;
	background: url(../images/common/list-stly-square-_07.jpg) no-repeat center;
}

.content .message-us{
	padding-top:135px;
	padding-bottom: 60px;
	background: #ebebeb;
}
.content .message-us .flex-center{ /**/
	align-items: unset;
	justify-content: space-around;
}
.message-us .input-section{
	width: 50%;
}
.content .message-us .input-section input{
	width: 89.89%;
	height: 52px;
	margin-bottom: 20px;
	float: right;
	padding-left: 10px
}

.content .message-us h2{
	line-height: 60px;
	color:black;
}
.content .message-us .submit-button{ /**/
	float: right;
	padding:0 40px;
	text-align: center;
	background: #00cc99;
	height: 48px;
	line-height: 48px;
}
.content .message-us .submit-button:first-letter{
	padding-right: 15px;
}
@media only screen and (max-width: 1200px){

}
@media only screen and (max-width: 480px){
h1{
	font-size: 2.1em;
}
h2{
	font-size: 1.8em;
}
.container{
	width: 90%;
	margin-left:auto;
	margin-right: auto;
}
.content .banner{
	height: unset;
	padding: 120px 0 30px 0 ;
}
.content .banner span{
	font-size: 0.55em;
}
.content .banner .sing-up-button{
	margin-top: 30px;
}
.content .message-us{
	padding-top: 50px;
	padding-bottom: 50px;
}
.content .message-us h3{
	margin-bottom: 30px;
	width: unset;
	line-height: 40px;
	font-size: 1.57em;
	letter-spacing: -1px;
}


.index .subtitle{
	display: block;
	padding:unset;
	margin-top: 10px;
}

.content .message-us .submit-button{
	float: unset;
	display: inline-block;
	width: 89.89%;
}
.content .message-us  .container{
	text-align: center;
}
.content .message-us .flex-center{
	display: unset;
	align-items: unset;
}
.content .message-us .input-section {
	width: unset;
}
.content .message-us .input-section input{
	float: unset;
}

}



