:root{
	--down-traingle:'\25bc'; /*倒三角形*/
}
.clearfix:after{
	content:'';
	display: table;
	clear: both;
}
/*body{
	overflow: unset!important;
	padding-right: 0!important;
}
html{
	overflow-x: hidden;
}*/

html,*{
	font-family: Microsoft JhengHei;
	box-sizing: border-box;
}
header{
	min-height: 380px;
	background: url(../img/Hero.png) center;
	background-size: cover;
}

.container{
	max-width: 1024px;
	margin: 0 auto;
	
}
.header{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.header h1{
	margin-top: 89px;
	margin-bottom: 96px;
	font-size: 2.2rem;
	letter-spacing: 9px;
	font-weight: 400;
	color: white;
}
/*下拉選單*/
#area{
	height: 48px;
    width: 100%;
    background: rgba(255,255,255,0.7);
    border: 3px solid white;
    border-radius: 4px;
    font-weight: 700;
    -webkit-appearance: none;
}
.selector{
    position: relative;
    width: 452px;
}
.selector:after{
	content: var(--down-traingle);
	position: absolute;
	right: 0;
	top:50%;
	transform: translate(-100%,-50%);
	z-index: 999;
}
/*虛線水平線*/
.dashed-border{
	border-bottom: 1px dashed #559AC8;
	position: relative;
	margin-bottom: 65px;
}
.dashed-border:before{
	content:'';
	width: 24px;
	height: 24px;
	border-radius: 50%;
	border:1px solid #559AC8;
	position: absolute;
	background:white;
	bottom: 0;
	left:50%;
	transform:translate(-50%,50%);
}
.dashed-border:after{
	content: var(--down-traingle);
	position: absolute;
	bottom: 0;
	left:50%;
	transform:translate(-50%,50%);
	color:#559AC8;
}

/*熱門區域*/
.area{
	width: 800px;
	margin: 0 auto;
	border-radius: 5px;
	box-shadow: 0 1px 3px 0px rgba(0,0,0,.2);
	padding: 20px 26px 18px 26px;
	transform: translateY(-24%);
	position: relative;
	z-index: 999;
	background: white;
}
.area ul li{
	float: left;
    list-style-type: none;
    height: 42px;
    width: 25%;
    color: white;
    font-size: 20px;
}
.area li span{
	padding:11px 34px;
	border-radius: 8px;
	cursor:pointer;

}
.area li:nth-of-type(1) span{
	background-color:#8A82CC ;
}
.area li:nth-of-type(2) span{
	background-color:#FFA782 ;
}
.area li:nth-of-type(3) span{
	background-color:#F5D005 ;
}

.area li:nth-of-type(4) span{
	background-color:#559AC8 ;
}

.hot-area-list{
	padding-top:14px;
}

/*主要區塊*/
.attractions-list h2{
	text-align: center;
    font-size: 36px;
    line-height: 43px;
    color: #8A82CC;

}
.attractions-boxs{
	padding:0;
	display: flex;
	flex-wrap: wrap;
	
}
.attractions-boxs > li{
	width: 50%;
	min-height: 320px;
	display: inline-block;
	margin-bottom:36px;
	list-style: none;
}
.attractions-boxs li .img-holder{
	width: 100%;
	height: 155px;
	background-size: cover;
	background-position: center center;
}
.attractions-boxs li:nth-child(1) .img-holder{
	background: url(http://khh.travel/FileArtPic.ashx?id=705&w=1280&h=960);
	background-size: cover;
	background-position: center center;
}
.attractions-boxs li:nth-child(2) .img-holder{
	background: url(http://khh.travel/FileArtPic.ashx?id=988&w=1280&h=960);
	background-size: cover;
	background-position: center center;
}
.attractions-boxs li:nth-child(3) .img-holder{
	background: url(http://khh.travel/FileArtPic.ashx?id=705&w=1280&h=960);
	background-size: cover;
	background-position: center center;
}
.attractions-boxs li:nth-child(4) .img-holder{
	background: url(http://khh.travel/FileArtPic.ashx?id=988&w=1280&h=960);
	background-size: cover;
	background-position: center center;
}

.attractions-boxs .box{
	max-width: 464px;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
	margin: 0 auto;
}

.attractions-boxs .attraction{
	font-size: 24px;
	color: white;
	margin-right:auto;
}
.attractions-boxs .location{
	font-size: 16px;
	color: white
}

.attractions-boxs .img-holder{
	display: flex;
	align-items: flex-end;
	padding: 0 24px 14px 22px;
}
.attractions-boxs .info{
	padding: 0 24px 22px 24px;
}
.attractions-boxs .info li{
	margin-top: 16px;
	list-style:none;
	position: relative;
}
.attractions-boxs .info img{
	vertical-align: middle;
	margin-right: 9px;
}
.attractions-boxs .info .tel img{
	margin-right: 12px;
	margin-left: 2px;
}
.attractions-boxs .info li .free-visit{
	position: absolute;
	right: 0;
}

/*pagination*/
.hide{
	direction: 
}
.pagination li a {
	border:none;
	font-size: 14px;
	color: #4A4A4A;
}

.gotop{
	position: fixed;
	right: 28px;
	bottom:195px;
	cursor: pointer;
	z-index: 500;
}

.modal-btn{
	position: absolute;
    right: 2%;
    top: 2%;
}
footer{
	height: 90px;
	background: #559AC8;
	text-align:center;
	padding:24px 0 23px 0;
}
footer h4:nth-of-type(1){
	font-size: 14px;
	color: #FFFFFF;
	margin-bottom: 15px;
}
footer h4:nth-of-type(2){
	font-size: 14px;
	color: #FFD366;
}
@media screen and (max-width:996px ){
	.area{
		width: 82%;
	}
	.area li span{
		padding: 11px 10px;
		display: inline-block;
		width: 95%;
	}
	/*最小高度*/
	.attractions-boxs > li{
		min-height: 350px;
	}
	/*免費參觀移到下方*/
	.attractions-boxs .info{
		padding-bottom: 52px;
	}
	.attractions-boxs .info li .free-visit{
		bottom: 0;
		left: 0;
		transform: translateY(calc(100% + 16px));
	}
	.attractions-boxs .box{
		width: calc(100% - 22px);
	}
	/*免費參觀*/

}
@media screen and (max-width:768px ){
	.selector{
		width: 82%;
	}

	/*熱門行政區*/
	.hot-area-list{
		padding: 0;
	}
	.area ul li{
		width: 50%;
		margin-bottom: 15px;
	}
	/*改成單欄*/
	.attractions-boxs{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.attractions-boxs > li{
		width: 90%;
	}
	.attractions-boxs .box{
		max-width: unset;
	}
	.attractions-boxs li .img-holder{
		height: 200px;
	}
	.gotop{
		right: 5px;
		bottom: 40px;
	}
}
@media screen and (max-width:576px ){
	.attractions-boxs .info li{
		 display: flex; 
		 align-items: center; 
	}
	.attractions-boxs .info img{
		width: 18px;
		height: 18px;
	}
}