$width:940px;
$main-color:#3F5D45;
$secondary-color:#8DA291 ;
$third-color:#EAF0ED;

// $font-color:;


// Products
$cover-opacity:0.8;
$img-url:'https://bit.ly/2Dwoxd7','https://bit.ly/2Qodh3Z','https://bit.ly/2zL5jN7';
$cover-color:#FFE180,$main-color,$main-color;
$cover-font-color:$main-color,white,white;



@mixin clearfix{
	&:after{
		content:'';
		display: table;
		clear:both;
	}
	&:before{
		content:'';
		display: table;
		clear:both;
	}
}

@mixin psudeo-bg{
	content:'';
	background-position: center center;
	background-size: cover;
	display: block;
	height:100%;
	filter:blur(5px);
}

@mixin bg-rotate{
	transform:rotate(20deg) scale(1.5);

}