@import 'grid';
@import 'variable';
@import 'modules';
@import 'reset';

html {
	font-size: 18px;
	@include pad {
		font-size: 14px;
	}
}
body {
	padding-top: 62px;
}
.index{
	font-family: Microsoft JhengHei;
	.container{
		max-width: $width;
		margin: 0 auto;
		@include pad {
			padding:0 5%;
		}
	}
	header{
		// sticky top
		position: sticky;
		background: white;
		top: -1px;
		z-index: 9999;
		transition: .3s all linear;
		padding: 30px 0;
		@include pad {
			position: absolute;
			width: 100%;
			padding: 10px 0;
		}
		.container{
			display: flex;
			justify-content: space-between;
			@include pad {
				width: 90%;
				position: relative;
				flex-direction: column;
				justify-items: center;
			}
			.brand-logo{
				display: flex;
				height: 42px; /*how to make it auto adjust to content height*/
				@include pad {
					width: 100%;
					// vertical-align
					display: flex;
					align-items: center;
				}
				.hamberger, .mobile-cart{
					display:none;
					@include pad {
						display: inline-block;
					} 
				}
				img:nth-of-type(1){
					width:40px;
					margin-right: 8.27px;
					@include pad {
						display: none;
					}
				}
				img:nth-of-type(2){
					width:171.22px;
					@include pad {
						margin:0 auto;
					}
				}
				&:hover{
					cursor: pointer;
				}
			}
			.nav{
				display: flex;
				align-items: center;
				transition: .3s all linear;
				overflow:hidden;
				@include pad {
					display: block;
    				text-align: center;
    				// hide nav
    				height: 0;
    				// show nav
    				&.show-nav{
    					height: 126px;
    				}
				}
				li{
					margin-right:60px;
					@include pad {
						padding: 12px 0;
						margin: 0 auto;
					}
				}
				li:nth-of-type(2){
					@include pad {
						border-bottom: 1px solid #ddd;
						border-top: 1px solid #ddd;
					}
				}
				li:nth-of-type(4){
					margin-left:20px;
					@include pad {
						display: none;
					}
				}
				a{
					color:$main-color;
					font-weight: 700;
				}

			}
		}
		&.show-nav{
			height: 168px;
			overflow: auto;
		}
	}

	.content{
		.product-section{
			.products{
				display: flex;
				justify-content:center;
				font-weight: bold;
				color:white;
				transform: translateY(-50%);
				@include pad {
					margin-bottom: 60px;
				}
				@include iphone {
					margin-bottom: 125px;
					transform: translateY(0%);
				}
			}
			// general 
			li{
				overflow:hidden;
				box-shadow: 1px 1px 6px rgba(0,0,0,0.3);
				border: 3px solid white;
				position: relative;
				.bg-img{
					width: 259px;
					height: 256px;
					transition:.3s linear;
					@include pad {
						width: 124px;
						height: 124px;
					}
				}
				span{
					position:absolute;
				    @include fontsize($products);
				    writing-mode: vertical-rl;
				    display: flex;
				    justify-content: center;
				    align-items: center;
				    /*cover*/
				    @include abs-fullcover;
				    opacity: $cover-opacity;
				    background: $main-color;
					
				}
				&:hover .bg-img{
					@include bg-rotate;
				}
			}
			// specific
			@for $i from 1 through length($products-img-url){
				/**** use #{i} ****/
				li:nth-of-type(#{$i}){
					color:nth($cover-font-color,$i);
					.bg-img{
						&:after{
							background: url(nth($products-img-url,$i));
							@include psudeo-bg;
							filter:blur(5px);
						}
					}
					span{
						background: nth($cover-color,$i);
					}
				}
			} 

			.header-photo{
				width: 100%;
				height:496px;
				margin: 0 auto;
				background: url(https://bit.ly/2OhbMHr) center center;
				background-size: cover;
				@include iphone {
					height: 177px
				}
			}
		}

		.why-choice, .why-eat{
			background: $third-color;
			height: $section-height;
			margin-bottom: 105px;
			position: relative;
			@include pad {
				height: auto;
				margin: 0 0 135px 0;
				background: none;
			}
			.container{
				display: flex;
				align-items:center;
				@include pad {
					flex-direction: column;
					// contained bg
					width: auto;
				    background: #EAF0ED;
				    padding: 0;
				    margin: 0 5%;
				    background: $third-color;
				}
				.img{
					background: url(https://bit.ly/2R5tqwD) center;
					background-size:cover;
					height: 460px;
					width: 460px;
					transform:translateY(-20px);
					@include pad {
						width: 540px;
						height: 344px;
						order:2;
						transform:translateY(0px);
						width: 100%;
					}
					@include iphone {
						height: 114px;
					}
				}
				.reason{
					flex: 0 0 50%;
					writing-mode:vertical-rl;
					@include pad {
						writing-mode: horizontal-tb;
						order:3;
					}
					.title{
						transform: translateY(-38%);
						margin-left: 30px;
						@include pad {
							order:1;
							writing-mode: horizontal-tb;
							// horizontal center
							position: absolute;
							top:-95px;
							left:50%;
							transform:translateX(-50%);
						}
						@include iphone {
							margin: 0;
						}
						@include vertical-h2;
						p{
							@include vertical-line;
						}
					}
					> p{
						height: 280px;
						line-height: 2;
						letter-spacing: 1px;
						color:$secondary-color;
						@include fontsize($whychoice-text);
						@include pad {
							height: auto;
							padding:20px;
						}
					}
				}
			}
			
		}
		// override
		.why-eat{
			.title{
				margin-left: 0;
				margin-right:30px;
				@include iphone {
					margin: 0;
				}
			}
			.container{
				.img{
					background: url(https://bit.ly/2zzAQS4) center center;
				}
			}
			@include pad {
				margin-bottom: 50px;
			}
		}
		
		.no-reason{
				display: flex;
				justify-content: center;
			div{
				height: 327px;
				@include vertical-h2;
				p{
					@include vertical-line;
				}
				@include pad {
					writing-mode: horizontal-tb;
					height: auto;
					margin-bottom: 50px;
				}
			}
		}

		.products-caresoul{
			text-align: center;
			color:$main-color;
			.container{
				@include pad {
					// hide ul scrollbar
					overflow: hidden;
					height: 460px;
				}
				@include iphone {
					height: 413px;
				}
			}
			ul{
				display: flex;
				@include pad {
					// slidable cards
					overflow: auto;
					padding: 25px;
				}
				@include iphone {
					padding: 0 0 15px 0;
				}
				li{
					flex:0 0 33.3333%;
					@include pad {
						flex:0 0 100%;
						// slidable card
						border-radius: 10px;
						box-shadow: 0px 1px 42px #ddd;
						margin: 5px 6px;
					}
					@include iphone {
						margin: 0;
					}
					.box{
						padding:0 10px;
					}

				}
				@for $i from 1 through length($caresoul-img-url){
					li:nth-of-type(#{$i}){
						&:hover{
							.product-img{
								filter:brightness(1.07);
							}
						}
						.product-img{
							background: url(nth($caresoul-img-url,$i));
							@include psudeo-bg;
							height: 315px;
							position: relative;
							
							&:after{
								content:'本日精選';
								height: 106px;
								width:36px;
								position: absolute;
								top:0;
								left: 20px;
								writing-mode: vertical-rl;
								color:white;
								background:$main-color;
								line-height: 36px;
							}
							&:before{
								content:'\f004';
								height: 18px;
								width:20px;
								position: absolute;
								right:22px;
								top:19px;
							}
						}

					}
				}
				
				.product-intro{
					display: flex;
					padding:14px 0;
					.name{
						flex:0 0 60%;
					}
					.price{
						flex:0 0 40%;
					}
				}
				.add-cart{
					background-color: $light-blue;
					padding:16px 0;
					&:hover{
						cursor: pointer;
						background-color: $main-color;
						color:white;

					}
				}
			}
			
		}
	}

	.mail-us{
		margin-top:60px;
		background:$main-color;
		.container{
			display: flex;
			justify-content: space-around;
			padding:30px 0;
			@include pad {
				flex-direction: column;
				align-items: center;
			}
			.caption{
				display: flex;
				align-items: center;
				color:white;
				@include pad {
					margin-bottom: 20px;
				}
				img{
					margin-right: 20px;
				}
			}
			.input{
				background-color:$third-color;
				display: flex;
				input{
					border: 0;
					outline: none;
					background: $third-color;
					width:260px;
					@include iphone {
						width:unset;
					}
				}
				i{
					padding:16px 20px;
					color:$main-color;
				}
				i:nth-of-type(2){
					background: $bright-yellow;
				}

			}
		}
	}
	
	footer{
		padding:30px 0;
		background: $light-blue;
		color:$main-color;
		.container{
			display: flex;
			justify-content: space-between;
			@include pad {
				flex-direction: column;
			}
			.info{
				@include pad {
					align-items: center;
				}
			}
			img{
				margin-bottom: 115px;
				@include pad {
					margin-bottom: 0;
				}
			}
			p{
				margin-bottom: 30px;
				line-height: 1.5;
				@include pad {
					margin: 10px 0;
					line-height: 2;
				}
			}
			.other-info{
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				@include pad {
					margin-top: 15px;
				}
				.caption{
					writing-mode: vertical-rl;
					@include fontsize($footer);
					p{
						@include vertical-line;
					}
					@include pad {
						display: none;
					}
				}
			}
		}
	}

	@media (max-width){
		
	}
}
